*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
nav{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
button{
    display: block;
    margin: 10px;
}
body{
    background-color: pink;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: blue;
    font-weight: bold;
  font-stretch: expanded;
}